branch=
DEV_API_URL=http://localhost:3101
VITE_DIAGRAM_API_URL=http://localhost:3002
VITE_TOIR_LIGHT_ORIGIN=https://toir-light.greact.ru
VITE_KEYCLOAK_URL=https://sso.greact.ru
VITE_KEYCLOAK_REALM=toir
VITE_KEYCLOAK_CLIENT_ID=localhost
